{% extends 'layout.html' %}
{% block content %}
    <br><br><br><br>
    <div style="text-align: center">
        <h1>Select type of the game</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            <label for="number">Number of players</label>
            <input type="number" name="number" id="number">
            <input class="btn btn-danger" type="submit" name="" id="" value="Fight!">
        </form>
{#        <a href="{% url 'fight' %}" class="btn btn-danger">Fight</a>#}
{#        <a href="{% url 'war' %}" class="btn btn-danger">War</a>#}
    </div>
{% endblock %}